input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

.btn-custom-class {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-custom-class:hover,
.btn-custom-class:active,
.btn-custom-class:focus,
.btn-custom-class.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #fee0d2;
  color: #bdbdbd;
  border-color: #cb181d;
}


#button-div {
  /* Appearance */
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px;
  background-color: #F7F7F7;
  box-shadow: 3px 3px 3px #737373;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.4;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
